div {
    margin: 5px;
    border-style: solid;
    padding: 3px;
    width: 200px;
    height: 200px;
    display: inline-block;
    text-align: center;
}

.cor1 {
    background-color: black;
    color: white;
    border-color: coral;
}

.cor2 {
    background-color: rgba(0, 255, 128, 0.3);
    color: blue;
    border-color: darkmagenta;
}

.cor3 {
    border-color: aquamarine;
}

.cor4 {
    background-color: #00A2FF;
}