body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://www.btk.elte.hu/media/4d/64/dc01fd7cc3786d47678b111a12d392cac1e191978c8a242ebe4b7714aba8/portugal-zaszlo-198450-thumb.jpg?v202011191744");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    color: rgb(255, 255, 255);
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

body>img {
    margin: 0 10px;
}

img {
    max-height: 250px;
}

p {
    text-align: center;
    font-size: 42px;
    color: white;
}